{% extends "base.html" %}

{% block title %}Journalist Dashboard{% endblock %}

{% block content %}
<h2>Journalist Dashboard</h2>

<p><a href="{% url 'create_article' %}">Create New Article</a></p>

<h3>My Articles</h3>

{% for article in my_articles %}
    <div>
        <h4>{{ article.title }}</h4>
        <p>{{ article.summary }}</p>
        <p>Approved: {{ article.approved }}</p>
        <hr>
        <p>
    <a href="{% url 'edit_article' article.id %}">Edit</a> |
    <a href="{% url 'delete_article' article.id %}">Delete</a>
</p>
    </div>
{% empty %}
    <p>You have not created any articles yet.</p>
{% endfor %}
{% endblock %}